body {
  margin: 0;
  background: radial-gradient(circle at center, #001f2f, #000);
  color: #00ffff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  padding: 40px;
}

.titulo {
  font-size: 50px;
  letter-spacing: 5px;
  text-shadow: 0 0 20px #00ffff;
}

button {
  background: transparent;
  border: 2px solid #00ffff;
  color: #00ffff;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00ffff;
  color: black;
  box-shadow: 0 0 20px #00ffff;
}

.central {
  margin-top: 40px;
  display: none;
}

.atalhos {
  margin-top: 20px;
}
